body{
    background-color: #121212;
    color: white;
}

.btn-primary {
    background-color: #52d99a;
    border-color: #52d99a;
  }

  .btn:hover {
    background-color: #2dbb8b;
    border-color: #2dbb8b;
  }

.container{
    color:black;
}